/* 375 max:500 min:300*/
/*ipad:1024x1366 max:1280 min:600*/
/*monitor:1920×1080*/

/*||||||||||||||||||||*/
/*|||GENERAL STYLES|||*/
/*||||||||||||||||||||*/

body {
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.contentWrap {
  padding-bottom: 480px;
}

p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

a{
  text-decoration: none;
  color: #000000;
}
/*||||||||||||||*/
/*|||ALL PAGE|||*/
/*||||||||||||||*/

/* Page Navigation */
nav {
  text-align: center;
}
#nav {
  z-index: 10;
  width: 100%;

  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menuButton {
  padding: 10px;
  text-align: center;

  width: 14.3%;
}
.navLogo {
  z-index: 2;
  padding: 10px;
  text-align: center;
}
#navLogo {
  flex: 1;
  width: 177px;
  z-index: 2;
}
#menuButton {
  margin-top: 6px;
  flex: 1;
  width: 40px;
  z-index: 2;
}

/*Window Structure*/
.foreHead {
  position: relative;
  left: 0;
  right: 0;
  width: 100%;
  height: 25px;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  background: #c4c4c4;
  border: 1px solid #000000;
}
.textBody {
  margin: 0;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-top: none;
  width: 100%;
  height: 187px;
  text-align: left;
}
.textBody p {
  margin: 0 15px 0 5px;
  width: 100%;
}

/* Footer */
/* Footer | Text Window*/
#foldersWindow {
  position: relative;
  width: 140px;
  top: 92px;
  left: 220px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#foldersWindow .textBody {
  height: 170px;
}
.folder img,
.folder h3 {
  margin: 15px 0 0 10px;
  display: inline;
}
.folder h3 {
  position: relative;
  top: -5px;
  margin: 0;
  font-weight: lighter;
  font-size: medium;
}
#subfolderPhoto, #subfolderSk {
  font-size: 12px;
  height: 20px;
  position: relative;
  top: -0px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 0px;
  
}
#subfolderPhoto img, #subfolderSk img{
  position: relative;
  top: -11px;
 width: 20px;
 height: auto;
}
#photoH, #skH{
  position: relative;
  top: -15px;
}
#subfolderSk{
  position: relative;
  top: -0px;

}
#aboutH{
  height: 30px;
  padding-top: 8px;
}
#aboutH h3,#aboutH img {
  position: relative;
  top: -11px;
}
#aboutH h3{
  position: relative;
  top: -15px;
}
.folderIcon {
  width: 22px;
  height: 21px;
}
#navFolders ul {
  position: relative;
  top: -8px;
  margin: 4px 4px 4pxpx 4px;
  padding: 0;
}
#navFolders ul:first-child {
  margin: 0;
}
/* Footer | Text Window*/
/* Text Window | Text Formating*/
#contactWindow {
  position: relative;
  width: 215px;
  height: 160px;
  left: 50px;
  top: 415px;
}
#contactWindow .textBody {
  position: relative;
  top: 0px;
  left: 0px;
  height: 160px;
  font-size: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Text Window | Text Formating*/
#contactWindow .textBody .email {
  position: relative;
  top: -6px;
  left: 1px;
  margin: 0;
  padding: 0 0 0 5px;
  float: left;
  text-align: center;
}
/* Text Window | Image*/
#contactImg {
  position: relative;
  top: 8px;
  left: 3px;
  width: 43.73px;
  height: 47.1px;
  background-image: url("../img/footer/contactFaceImg.png");
  background-size: cover;
  background-color: rgb(138, 211, 177);
  border: 1px solid #000000;
  padding: 2px 0 0 5px;
  float: left;
  margin: 0;
}
/* Text Window | Text Formating*/
#contactInfo {
  position: relative;
  top:0px;
  left: -8px;
  width: 150px;
  padding: 9px 0px 5px 0px;
  margin: 0px;

  float: right;
}
/* Text Window | Button*/
#contactWindow button {
  position: relative;
  left: 62px;
  margin: 10px 0 0 0;
  background-color: #c8c8c8;

  border: 1px solid #000000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  width: 100px;
  height: 30px;
}
/* Text Window | Image Button*/
#contactIcons .githubIcon , #contactIcons .linkedInIcon , #contactIcons .igIcon {
  position: relative;
  left: 0px;
  background-size: cover;
  display: inline-block;
  padding: 0 5px 0 5px;
  width: 35.3px;
  height: 34.5px;
}
/* Text Window | Container*/
.windowContainer {
  position: relative;
  width: 100%;
  height: 520px;
  top: 65px;
}
/* Footer | Background*/
/* Background | Image Background */
#monitor {
  background-image: url("../img/footer/monitor.png");
  background-size: cover;
  width: 100%;
  height: 387px;
}
/* Background | Text Formating*/
#copyRightLabel {
  position: relative;
  top: 329px;
  left: 35px;
  width: 80%;

  font-size: 13px;
}
/* Footer | Container*/
footer {
  position: absolute;
  left: 0px;
  bottom: 0;
  width: 100%;
}

/* Sk Profile Image Window */
.skProfileWindow {
  position: relative;
  left: 46%;
  top: -35%;

  width: 190px;
  height: auto;
}
.skProfile {
  width: auto;
  height: 283px;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}








/*||||||||||||||*/
/*|||NAV PAGE|||*/
/*||||||||||||||*/
#foldersSection{
  padding: 150px 0 180px 0;
  width: 100%;
}
#foldersSection a div{
  width: 100%;
  font-size: 2.3rem;
  padding: 10px;
  
}
#foldersSection .projectFolder{
  width: 100%;
  font-size: 2.3rem;
  padding: 10px 0px 0px 10px;
  
}
#foldersSection div img, #foldersSection a div img, #foldersSection a .homeFolder img{
  position: relative;
  top: 15px;
  width: 60px;
  height: auto;
  
}
#foldersSection div a div img{
  position: relative;
  top: 10px;
  width: 50px;
  height: auto;
}
#foldersSection div a div {
  font-size: 1.9rem;
  padding: 0 0 0 70px;
}
.contactContainer #contactIcons{
  position: relative;
  top: 44px;
  left: 55px;
  width: 300px;
  float: bottom;
}
.contactContainer #contactIcons a img{
  width: 44px;
  margin: 0 5px 0 5px;
  height: auto;
}








  

/*|||||||||||||||*/
/*|||HOME PAGE|||*/
/*|||||||||||||||*/

/* Home Page | Text Formating */
#homeContentWrap {
  padding-bottom: 720px;
}
/* Home Page | Text Formating */
.headerBoarder h1 {
  background-color: #000000;
  z-index: 1;

  position: relative;
  top: 117px;
  width: 310px;
  margin: 0 auto;

  font-weight: lighter;
  font-size: 55px;
  line-height: 78px;

  color: #ffffff;

  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.25);
}
/* Home Page | Background Image */
#homeIntroBoarder {
  background-image: url("../img/home/colorBar.png");
  background-position: center center;
  height: 369px;
  vertical-align: middle;
  background-size: cover;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Home Page | Welcome Mat */
/* Welcome Mat  | Text Formating */
#pageDescription #thisIs h1 {
  font-weight: lighter;
  font-size: 40px;
  text-align: center;
  
  font-family: sans-serif;
  margin: 10px 0 0 0;
}
/* Welcome Mat  | Text Formating */
#pageDescription img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 92%;
}
/* Welcome Mat  | Text Formating */
#pageDescription #introDescription h3 {
  font-size: 40px;
  font-weight: normal;
  text-align: center;
  font-family: sans-serif;
  width: 285px;
  height: 114px;
  margin-top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
/* Home Page | Projects |Background Image */
#projects{
  padding-top: 120px;
}
/* Home Page | Projects |Background Image */
#camera {
  z-index: 1;
  position: absolute;
  width: 313px;
  top: 750px;
}
/* Home Page | Projects | Text Formating */
.projectHeader {
  position: relative;
  top: 138px;
  z-index: 2;
  font-family: sans-serif;
  font-weight: lighter;
  text-align: center;
  font-size: 60px;
  color: #000000;

  margin: 0 auto 0 auto;
}
/* Home Page | photography */
#photographySection{
  height: 1000px;
}
/* photography | Text Window */
/* photography | Image Window*/
#selectPhotoWindow {
  flex: 1;
  flex-basis: 190px;
  margin: 0 10% 0 10%;
  background-color: aquamarine;
}
#selectedImg {
  width: 100%;
  height: 187px;
  background-image: url("../img/Photographs/bookShelf.JPG");
  background-size: cover;
  margin: 0;
  border: 1px solid #000000;
  border-top: none;
  text-align: left;
  
}
#selectPhotoWindow div img {
  width: 9px;
  height: auto;
  
}
#selectPhotoWindow .foreHead div {
  display: inline;
  position: relative;
  top: 3px;
  margin: 0 0px 0 0px;
}
#selectPhotoWindow .foreHead #Rarrow {
  position: relative;
  top:1px;
  left: 0px;
  float: right;
  padding: 7.5px 7.5px 7.5px 7.5px ;
  border-left: 1px solid #000000;
}
#selectPhotoWindow .foreHead #Larrow {
  position: relative;
  top:1px;
  left: 0px;
  float: left;
  padding: 7.5px 7.5px 7.5px 7.5px ;
  border-right: 1px solid #000000;
}
#selectPhotoWindow .foreHead {
  width: 100%;
  height: 29px;
}
/* photography | Container */
.selectedPhoto{
  
  position: relative;
  top: 160px;
  z-index: 2;
  display: flex;
}
.selectedPhoto, .selectedPhotoImg {
  
  z-index: 2;
  display: flex;
}
.selectedPhotoImg{
  position: relative;
  top: 0px;
  border: 1px solid #000000;
  border-top: 0;
  width: 100%;
  height: auto;
}
/* photography | Hor. Scrolling Images */
#scrollingImgs {
  position: relative;
  width: 100%;
  height: 160px;
  left: 0px;
  top: 200px;
  display: flex;
  z-index: 4;
  overflow-x: scroll;
  padding: 0;
}
#scrollingImgs::-webkit-scrollbar {
  display: none;
}
#scrollingImgs {
  -ms-overflow-style: none;
  height: 200px;
}
.Hscrollimg {
  margin-left: 10px;
  margin-right: 10px;
  width: 160px;
  height: 120px;
  left: 0px;
  top: 0px;
  border: 1px solid #000000;
}
#scrollingImgs div{
  text-align: center;
}
.seeMorePhoto{
  position: relative;
  z-index: 4;
  width: 130px;
  top: 170px;
  left: 60vw;
  font-size: 23px;
  color: white;
  background-color: black;
  padding: 10px 5px 10px 10px;
}
/* Home Page | Background Image */
#skLightPost {
  width: 100%;
  position: relative;
  z-index: 3;
  left: 0px;
  top: -190px;
}
/*Home Page | Sk*/
/* Sk | Image Window*/
#homeSkVideoWindow {
  position: relative;
  left: 88px;
  top: -70px;
  width: 280px;
  height: 181px;
  z-index: 3;
}
#homeSkVideoWindow .foreHead {
  position: relative;
  top: 15px;
  z-index: 3;
}
#homeSkVideoWindow .foreHead label{
  position: relative;
  top: -80px;
}
#homeSkVideo {
  position: relative;
  width: auto;
  height: 160px;
  width: 282px;
  right: 0px;
  top: -50px;
 
  
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Sk | Text Window*/
#skDescriptionWindow {
  position: relative;
  left: 2%;
  top: 15px;

  width: 240px;
  height: auto;
  z-index: 4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#skDescriptionWindow .foreHead {
  float:left;
  position: relative;
  top:-100px;
}
#skDescriptionWindow .textBody {
  height: 233px; 
  text-align: left; 
  
}
#skDescriptionWindow .textBody p {
  width: 95%;
  height: auto;
  margin: 0px 5px 4px 5px;
  text-align: left;
  float:left;
  position: relative;
  top:-95px;
  font-size: 15px;
  line-height: 18px;
}
#skDescriptionWindow .textBody .seeMoreSk {
  position: relative;
  top: 208px;
  left: 25px;
  width: 250px;
  font-size: 23px;
  color: #000000;
}
/* Sk | profile image Window*/
.windowContainer .skProfileWindow .skProfile{
  width: 192px;
  
  border: 1.5px solid #000000;
  border-top: none;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.windowContainer .skProfileWindow {
  position: relative;
  top: 25px;
  left: 10px;
  width: 192px;
}
/* Sk | Text Window*/
#skContactWindow {
  position: relative;
  left: 40%;
  top: -75%;

  width: 200px;
  height: auto;
  
  z-index: 3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#skContactWindow .textBody, #skContactWindow .foreHead{
  padding: 0 5px 0 5px;
}
#skContactWindow .textBody {
  padding-top: 5px;
  height: 150px; 
}
#skContactWindow .textBody .contactIcons {
  position: relative;
  left: -20px;
  top: -5px;
}
#skContactWindow .textBody #contactIcons .igIcon{
  position: relative;
  left: 130px;
}
/* Sk | Header Typography*/
#skSection .projectHeader {
  float: left;

  position: relative;
  top: -19px;
  left: 100px;
  width: auto;

  font-style: normal;
  font-weight: lighter;
  font-size: 75px;

  color: #000000;
}
#skSection .projectHeaderSubtext {
  float: right;

  position: relative;
  top: 15px;
  left: -40px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;

  margin: 0;
}


















  

/*||||||||||||||||*/
/*|||About PAGE|||*/
/*||||||||||||||||*/

/* About Page | Text Window*/
.aboutWindow {
  position: relative;
  margin: 0 0 0 2em;
  width: 300px;
  height: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.aboutWindow .textBody {
  height: 260px;
}
/* About Page | Container*/
#aboutContent {
  position: relative;
  top: 90px;
}


















  

/*|||||||||||||*/
/*|||Sk PAGE|||*/
/*|||||||||||||*/

/* Sk Page | Header Container*/
/* Header Container | Text */
.skPageHeader .skProjectHeader{
  position: relative;
  top: 0px;
  margin: 0 0 0 0;
  width: 25vw;
  font-size: 4.8rem;
  font-weight: lighter;
  font-family: sans-serif;
}
/* Header Container | Text */
.skPageHeader .projectSubHeader {
  margin: 0 auto 0 auto;
  font-weight: 500;
  font-size: 1.5rem;
  width: 5rem;
}
/* Header Container | Text */
.skPageHeader #topSubHeader {
  position: absolute;
  top: 7px;
  left: 30vw;
  width: 3.5em;
  font-size: 1.9em;
}
/* Header Container | Text */
.skPageHeader #bottomSubHeader1 {
  position: absolute;
  left: 26vw;
  top: 50px;
  width: 3.5em;
}
/* Header Container | Image*/
.skPageHeader #usFlag {
  position: absolute;
  top: 30px;
  left: 63vw;
  width: 15vw;
  height: auto;
  border: 1px solid #000000;
}
/* Header Container | Image*/
.skPageHeader #saFlag {
  position: absolute;
  top: 30px;
  left: 81vw;
  width: 15vw;
  height: auto;
  border: 1px solid #000000;
}
/* Header Container | Container */
.skPageHeader {
  position: relative;
  top: 60px;
  margin: 0 0.4em 0 0.4em;
}
/* Sk Page | Description Container*/
/* Description Container | Text */

/* Description Container | Images */
.skDescriptionProfile {
  background-color: yellow;
}
/* Description Container | Images */
.skDescriptionLogo {
  background-color: rgb(71, 83, 255);
}
/* Description Container | Sk Profile Image Window */
/* Sk Profile Image Window | Container*/
.skDescription .skProfileWindow {
  position: relative;
  left: -10px;
  top:5px;

  float: left;
  width: 190px;
  bottom: 55px;
  margin: 5px 0 0 2px ;
}
.skDescription .skProfileWindow .skProfile{
  width: 192px;
  border-top: none;
}
.skDescription .skProfileWindow .foreHead{
  height: 24px;
}
/* Description Container | Sk Logo Image Window */
/* Sk Logo Image Window | Container*/
.skLogoWindow {
    position: relative;
    top: 10px;
    right: 0px;

    margin: 0 10px 0 10px ;
    width: 220px;
    height: auto;
    float: right;
    font-size: 1;
}
.skLogoWindow .foreHead{
  height: 25px;
}

/* Sk Logo Image Window | Images*/
.skLogo {
  width: 222px;
  height: auto;
  border: 2px solid #000000;
  border-top: none;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* Description Container | Container */
.skDescription {
    margin-top: 55px;
    padding: 0.7em 0.7em 0 0.7em;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    line-height: 1.4rem
  }
/* Projects Container | Project List container*/
/* Project List container | Text */
.skProjectContainerIntro h1{
    position: relative;
    bottom: 25px;
    display: inline-block;
    margin: 0;
    width: 6em;
    line-height: 90px;
    font-size: 2.5em;
    font-weight: lighter;
    color: white;
    background-color: black;  
    border-radius: 3px;
}
.skProjectContainerIntro h1 span{
  margin: 0 2px 0 2px;
}
/* Project List container | Text */
.skProjectContainerIntro{
    position: relative;
    bottom: 0px;

    

    text-align: center;
    width: 100%;
    height: 8em;
    margin: 0;
}
/* Projects Container | Project List container | Project */
/*Project List container | Project | svg */
.skSubProjectBoarderLine {
height: 5px;
width: 100%;
}
/*Project List container | Project | Line */
.horizontalBorderLine {
    stroke:rgb(0,0,0);
    stroke-width:2;
}
/*Project List container | Project | Text */
.skSubProjectHeader h1 {
    font-size: 1.6em;
    font-weight: lighter;
    line-height: 60px;
    width: auto;
}
/*Project List container | Project | Text */
.skSubProjectHeader h3 {
    font-size: 1.2em;
    font-weight: lighter;
}
/*Project List container | Project | Text */
.skSubProjectHeader #skSubProjectType {
    position: relative;
    bottom: 88px;
    left: 0;

    width: 100%;
}
/*Project List container | Project | Text */
.skSubProjectHeader #skSubProjectYear {
    position: relative;
    bottom: 63.5px;
    left: 78vw;
    width: 2em;
    margin: 0 0 0 0;
    
}
/*Project List container | Project | Container */
.skSubProjectHeader{
    height: 2em;
}
/*Project List container | Project | Text */
.skSubProjectDescription {
    font-size: 0.8em;
    margin: 45px 0 20px 0;
}
.skProjectContainer:last-child .skSubProject .skSubProjectDescription {
  margin: 75px 0 20px 0;
}
/*Project List container | Project | Container */
.skSubProject {
    position: relative;
    bottom: 35px;

    padding: 0 1vw 0 1vw;
   }
/*Project List container | Project | Container */
.skProjectContainer {
 padding: 0 3vw 0 3vw;
}
/*Project List container | Container*/
#skProjectList{
    position: relative;
    bottom: 135px;
    padding: 30px 0 0 0;
}
/* Projects Container | Container */
.skProjects {
    position: relative;
    margin: 50px 0 0 0;
    font-size: 1.3rem;
  }




















/*||||||||||||||||||||||*/
/*|||Photography PAGE|||*/
/*||||||||||||||||||||||*/
/* Gallery Container | Container */
#photoContentWrap{
  padding-bottom: 510px;
}
/* Gallery Container | Container */
#galleryProject {
  position: relative;
  padding: 8vh 0 0 0;
  font-size: 1.3rem;
}
/*gallery List container */
#galleryProject ul{
  padding: 0;
}
/*gallery List container | Img Content Container */
.galleryImg {
  padding: 0 3vh 0 3vh;
  margin: 0 0 50px 0;
  text-align: center;
}
/*gallery List container | last Img Content Container */
#galleryProject .galleryImg:last-child{
  margin: 0 0px 0;
}
/*gallery List container | Img Content Container | Image*/
.galleryImg img{
  width: 100%;
  height: auto;
  margin: 0 0 0.8vh 0;
  border: 0.8px solid #000000;
}


